body {
  margin: 0; 
  background-color:  rgb(227, 230, 230); 
}

.content {
  display: flex;
}

.page {
  background-color: rgb(227, 230, 230);
  font-family: sans-serif;
}


.f1 {
  background-color: white;
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 12px;
  box-sizing: border-box;
  border-radius: 20px;
}






.input{
  border-radius: 50px;
}



.inp1,
.inp2,.inp3,.inp4,.inp5,.inp6,.inp7,.inp8
{
  width: 420px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 7px;
  padding: 15px;
  margin-right: 50px;
  font-size: 15px;
  color: rgb(126, 132, 132);
 background-color: white;


  
}  

.inp1,.inp2,.inp3{
  margin-top: 10px;
}
.inp4,.inp5,.inp6{
  margin-top: 50px;
}
.inp7,.inp8,.sub{
   margin-top: 50px;
}


.sub {
background-color: blueviolet;
color: white;
border-radius: 5px;
padding: 15px;
width: 420px;
}




